{% extends '../base.html' %}

{% block title %}
    Artworks
{% endblock %}

{% block home_select %}
    active
{% endblock %}


{% block content %}
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
        {% for artwork in object_list %}
            <div class="col" style="width: 10px;">
                <div class="card" style="width: 100%;">
                    <img src="{{ artwork.image.url }}" alt="..." class="img-fluid" />
                    <div class="card-body">
                        <h5 class="card-title">{{artwork.title}}</h5>
                        <p class="card-text">{{artwork.description}}</p>
                        <span>
                            <a href="{% url 'artwork:download' artwork.pk %}" class="btn btn-info download-btn">Download</a>
                            <span class="mr-6" style="float: right;">{{artwork.downloads}}</span>    
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}